!!!
%html{:dir => "ltr", :lang => "en-us"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Ark Server Manager
    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css", :integrity => "sha256-VyWNo3nreq7kl76bp/ETa0Tbq3FVqCd6wCMF49aGP4c=", :rel => "stylesheet"}
    %link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.css', :rel => "stylesheet"}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js', crossorigin: ''}
    %script{crossorigin: 'anonymous', integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", src: "https://code.jquery.com/jquery-3.3.1.min.js"}
    %script{crossorigin: 'anonymous', integrity: "sha256-wpeKFfumxNfqAlC4/AkTbuhMaUp72QxUIjEkyFpH1Jc=", src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"}
    %script{crossorigin: 'anonymous', integrity: "sha256-ygOvSgNXVQ3nXNfd5lsn+a6k4THX1tW24aOwm6qMCxI=", src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"}
    %script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js'}
  %script{src: 'javascript/index.js'}
  %body{'ng-app': 'arkManagerWeb'}
    .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
      %h1.uk-heading-divider{:style => "padding-top: 1em;"} Ark Server Manager
      .uk-grid.uk-grid-small{"uk-grid" => "", "uk-grid-margin" => ""}
        -#= haml :server_actions
        = File.read(File.join('public', 'html', 'server_actions.html'))
        = File.read(File.join('public', 'html', 'server_status.html'))
        -#= haml :server_status
        -#= haml :server_schedules
        = File.read(File.join('public', 'html', 'schedule_states.html'))
        = File.read(File.join('public', 'html', 'player_list.html'))
        = File.read(File.join('public', 'html', 'mod_list.html'))
        -#= haml :mod_list
  %footer
